<header class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col sm:flex-row items-start sm:mx-auto w-full items-center">
    <img
      class="rounded-full w-48 h-48 mt-5 mr-0 sm:mr-4 mb-4 sm:mb-0"
      alt="Miguel Zavala"
      src="https://scontent.fntr11-1.fna.fbcdn.net/v/t1.6435-9/174333405_1114289845742284_9210355631333181881_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=LzCW1KPn-5IAX-I3ZH8&_nc_ht=scontent.fntr11-1.fna&oh=00_AfD__Q-6c4Nf8wChPdWzkjozbTXvwI0EhYHaBB9FFuCWJg&oe=6619A13B"
    />
    <h1 class="text-center xl:text-left text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl mb-4 sm:mb-0 mt-6">
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-400">Miguel Angel Zavala</span>
      <span class="block md:inline text-2xl text-white"> Desarrollador de software apasionado por la innovación y el impacto positivo.</span>
    </h1>
  </div>
</header>
