---
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Button from  "../components/Button.astro"
---

<nav class="flex flex-col justify-between items-center sm:flex-row w-full h-24 px-20 bg-black sticky top-0 z-10">

  <div class="flex items-center space-x-8 sm:mx-auto">
    <a href="/" class="text-gray-300 hover:text-white font-medium text-lg">Inicio</a>
    <a href="/about" class="text-gray-300 hover:text-white font-medium text-lg">Acerca de</a>
  </div>

  <div class="flex items-center space-x-8 sm:mx-auto">
  
    <div class="flex items-center space-x-4">
      <a href="https://github.com/Zeroxys" class="text-gray-300 hover:text-white" target="_blank" rel="noopener noreferrer">
        <GitHub class="color-white w-8 h-8" />
      </a>
      <a href="https://www.linkedin.com/in/miguel-angel-zavala-castillo/" class="text-gray-300 hover:text-white" target="_blank" rel="noopener noreferrer">
        <LinkedIn class="text-white w-8 h-8" />
      </a>
    </div>

    <Button
      href="/cv/miguel-angel-zavala-cv.pdf"
      class="bg-gradient-to-r from-purple-500 to-pink-400 text-white px-6 py-3 rounded-md shadow-md hover:opacity-90 text-lg"
      download="Miguel_Angel_Zavala_CV.pdf"
    >
      Descargar CV
    </Button>
  </div>
</nav>



