@custom-media --tablet (max-width: 900px);

@import './fonts.css.postcss';
@import './vars.css.postcss';
@import './app.css.postcss';
@import './bio.css.postcss';

body {
  margin: 0;
  padding: 0;
  font-family: SFL;
  color: var(--BackgroundColor);
}
