---
import "@fontsource-variable/onest";
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
interface Props {
  title: String;
}
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Soy un Desarrollador Full Stack especializado en JavaScript con más de 6 años de experiencia en la creación de aplicaciones web y móviles. Me apasiona la resolución de problemas y la creación de soluciones innovadoras para satisfacer las necesidades de los usuarios. ¡Bienvenido a mi sitio web donde comparto mi experiencia y proyectos!" />
    <meta name="keywords" content="Desarrollador Full Stack, JavaScript, Aplicaciones web, Aplicaciones móviles, Experiencia, Proyectos, React" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Desarrollador Full Stack JavaScript </title>
  </head>
  <body>
    <Navbar navigation-slot />
    <slot />
    <Footer/>
  </body>
  <script src="//unpkg.com/alpinejs" defer></script>

</html>

<style is:global>
  html {
    font-family: "Onest variable", system-ui, sans-serif;
  }

  body {
    padding:0;
    margin:0;
    background: #050505;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
</style>
